<!-- PDF Download -->
<div style="text-align:center;margin-top:10px;">
  <a class="ui button" style="display: inline-block;" href="../images/YeonWooKwon_Resume.pdf" download>Download</a>
</div>


<!-- test -->
<!-- <input type="password" name="pwd" id="pwd" class="test" value size="14" maxlength="7" onkeypress="if(window.event.keyCode==13) ViewPayPaper();"
onkeyup="if(pwd.value.length==7) ViewPayPaper();">
<a href="ViewPayPaper();">ok</a> -->


<div style="margin-top: 10px; " class="ui stackable grid container pdf_pages">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name_ko }}</h2>
  </div>
  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>
  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container pdf_pages">
  {% include bio-skills-1.html %}
  <hr width="100%"/>
  {% include bio-work-1.html %}
  <hr width="100%"/>
  {% include bio-education-1.html %}
  {% include bio-awards-1.html %}
  <hr width="100%"/>
  {% include bio-personal-project-1.html %}
</div>